<h1></h1>
<p>
  We want to know what you think!                            
  <br>                   ...and are willing to pay for it!
</p>

<%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>